.Header-Container{
  display: flex;
  min-height: 15vh;
  justify-content: space-between;
  align-items: center;
  background-color: #007BA7;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  box-shadow: 0 0 10px 1px #000;
  width: 100%;
}

.Logo-Header{
  margin-left: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Font-Header{
  color: #000;
  text-decoration: none;
  font-size: 2.5em;
}



.Cart-Icon-Header-Container{
  padding: 25px;
}

.Profile-Icon-Header-Container{
  margin-right: 25px;
  padding: 25px;
}

.Icon-Header{
  color: #000;
  font-size: 1.5em;
}
