.Container{
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  min-height: 100vh;
}
.header {
  margin: 0;
  padding: 0;
}

.main{
  margin: 35px 0;
  padding: 10px;
  flex: 1;
}

.footer{
  margin: 0;
  padding: 0;
}